

.login-container {
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    width: 30%;
    margin-top: 14rem;
}


.form-login {
    width: 90%;
    margin-left: 5%;
    
}

.label-login{
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);

}

.btn-login {
  width: 100%;
  padding: 10px;
}

.btn-new-user {
    width: 90%;
    padding: 10px; 
    margin-left: 5%;
}


